@font-face {
  font-family: 'GmarketSansTTFLight';
  src: url("./resources/GmarketSansTTFLight.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: 'optional';
}
@font-face {
  font-family: 'Oswald-VariableFont_wght';
  src: url("./resources/Oswald-VariableFont_wght.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: 'optional';
}

body {
  font-family: 'GmarketSansTTFLight'
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 모든 요소의 기본 여백과 패딩을 제거 */
* {
  box-sizing: border-box;
}

.homePageGithubIcon {
  cursor: pointer;
}